outputs
*.egg-info
__pycache__
*.pyc
*.pyo
*.pyd
*.egg
dist
build
*.log
*.bak
*.swp
.DS_Store
.idea
.vscode
*.iml
*.sublime-project
*.sublime-workspace
*.env
.env.*
venv
ENV
env
venv.bak
venv.old
venv_backup
venv_old
ckpts